.ButtonComponent {
    border-radius: 0.9rem;
    border: none;
    color: #fff;
    display: inline-block;
    font-size: 2rem;
    font-weight: 500;
    padding: 1.0rem 2.2rem;
    text-decoration: none;
    transition: background-color .5s;

}

.btn--pink--button {
    background-color: var(--color-green-500);

    &:hover {
        background-color: var(--color-green-700);
    }
}
