.ButtonComponent {
    border-radius: 0.9rem;
    border: none;
    color: #fff;
    display: inline-block;
    font-size: 1.6rem;
    margin-top: 1rem;
    font-weight: 500;
    padding: 1.0rem 2.2rem;
    text-decoration: none;
    transition: background-color .5s;

}

.btn--red--button {
    background-color: var(--color-red-500);

    &:hover {
        background-color: var(--color-red-700);
    }
}

.btn--pink--button {
    background-color: var(--color-pink-500);

    &:hover {
        background-color: var(--color-pink-700);
    }


}
