/****************************************
************* VARIABLES *****************
****************************************/
/*ffa9b2*/
/*#1abc9c;*/
/*44a9b6*/
:root {
    --color-brand-50: #eff6ff;
    --color-brand-100: #dbeafe;
    --color-brand-200: #bfdbfe;
    --color-brand-300: #93c5fd;
    --color-brand-400: #60a5fa;
    --color-brand-500: #3b82f6;
    --color-brand-600: #2563eb;
    --color-brand-700: #1d4ed8;
    --color-brand-800: #1e40af;
    --color-brand-900: #1e3a8a;
    --color-brand-950: #172554;

    /*PINK SHADE*/

    --color-pink-50: #fbeff2;
    --color-pink-100: #f6dee5;
    --color-pink-200: #f2ced8;
    --color-pink-300: #eebecb;
    --color-pink-400: #eaaebe;
    --color-pink-500: #e59db0;
    --color-pink-600: #e18da3;
    --color-pink-700: #dd7d96;
    --color-pink-800: #d86c89;
    --color-pink-900: #d45c7c;
    --color-pink-950: #bf5370;
    --color-pink-1000: #aa4a63;

    /*GREEN*/
    --color-green-100: #d1f2eb;
    --color-green-200: #a3e4d7;
    --color-green-300: #76d7c4;
    --color-green-400: #48c9b0;
    --color-green-500: #1abc9c;
    --color-green-600: #15967d;
    --color-green-700: #10715e;
    --color-green-800: #0a4b3e;
    --color-green-900: #05261f;

    /* Grey */
    --color-grey-0: #fff;
    --color-grey-50: #f9fafb;
    --color-grey-100: #f3f4f6;
    --color-grey-200: #e5e7eb;
    --color-grey-300: #d1d5db;
    --color-grey-400: #9ca3af;
    --color-grey-500: #6b7280;
    --color-grey-600: #4b5563;
    --color-grey-700: #374151;
    --color-grey-800: #1f2937;
    --color-grey-900: #111827;

    --color-blue-100: #e0f2fe;
    --color-blue-700: #0369a1;

    --color-yellow-100: #fef9c3;
    --color-yellow-700: #a16207;
    --color-silver-100: #e5e7eb;
    --color-silver-700: #374151;
    --color-indigo-100: #e0e7ff;
    --color-indigo-700: #4338ca;

    /* Red */
    --color-red-50: #fef2f2;
    --color-red-100: #fee2e2;
    --color-red-200: #fecaca;
    --color-red-300: #fca5a5;
    --color-red-400: #f87171;
    --color-red-500: #ef4444;
    --color-red-600: #dc2626;
    --color-red-700: #b91c1c;
    --color-red-800: #991b1b;
    --color-red-900: #7f1d1d;


    --backdrop-color: rgba(255, 255, 255, 0.1);

    --shadow-sm: 0 1px 2px rgba(0, 0, 0, 0.04);
    --shadow-md: 0px 0.6rem 2.4rem rgba(0, 0, 0, 0.06);
    --shadow-lg: 0 2.4rem 3.2rem rgba(0, 0, 0, 0.12);

    --border-radius-tiny: 3px;
    --border-radius-sm: 5px;
    --border-radius-md: 7px;
    --border-radius-lg: 9px;

    /* For dark mode */
    --image-grayscale: 0;
    --image-opacity: 100%;
}

/****************************************
************* DEFAULT SETTINGS ***********
****************************************/
*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    /* Creating animations for dark mode */
    transition: background-color 0.3s, border 0.3s;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Poppins", sans-serif;
    transition: color 0.3s, background-color 0.3s;
    line-height: 1;
    font-weight: 400;
    color: var(--color-grey-800);
    font-size: 1.6rem;
}

input,
button,
textarea,
select {
    font: inherit;
    color: inherit;
}

button {
    cursor: pointer;
}

*:disabled {
    cursor: not-allowed;
}

select:disabled,
input:disabled {
    background-color: var(--color-grey-200);
    color: var(--color-grey-500);
}

input:focus,
button:focus,
textarea:focus,
select:focus {
    outline: 2px solid var(--color-brand-600);
    outline-offset: -1px;
}
